<footer>
  <div class="container">
    <div class="social-links">
      <ul>
        <li>07 83 07 00 73</li>
        <li>
          <a href="mailto: bonjour@fred-petris.fr" class="link-mailto" target="_blank">
            <span class="email">bonjour@fred-petris.fr</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/frédérique-pétris" class="social-link" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Fred-Pétris-1017015478440051/" class="social-link" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/FredPetris" class="social-link" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>



