<footer>
  <div class="container">
    <div class="row">
      <div class="copyright text-center">
        07 83 07 00 73 <span class="pipe">|</span>
        <a href="mailto: contact@fred-petris.com" class="link-mailto" target="_blank">
          <span class="email">contact@fred-petris.fr</span>
        </a>
    </div>
  </div>
</footer>



