<footer>
  <div class="container">
    <div class="row">
      <ul class="copyright">
        <li><%#= link_to "Mentions Légales", mentions_legales_path %></li>
        <li>Copyright © 2017 Fred Pétris, Tous droits réservés</li>
      </ul>
    </div>
  </div>
</footer>



