<footer>
  <div class="container">
    <ul class="contact-links-list">
      <li>07 83 07 00 73</li>
      <li>
        <a href="mailto: bonjour@fred-petris.fr" target="_blank">
          <span class="email">bonjour@fred-petris.fr</span>
        </a>
      </li>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/frédérique-pétris" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Fred-Pétris-1017015478440051/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/FredPetris" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </ul>
  </div>
</footer>



