<nav id="nav">
  <div class="container">
    <div class="nav-items">
      <!-- LOGO LINKS -->
      <div class="nav-left">
        <!-- LOGO -->
        <a href="#top" rel="Go to the top" class="button-link center uppercase">fred pétris</a>
      </div>
      <!-- MENU BUTTONS -->
      <div class="nav-right">
        <a href="#projects" rel="Go to the projects section" class="button-link center uppercase">projets</a>
        <a href="#infos" rel="Go to the infos section" class="button-link center uppercase">infos</a>
      </div>
    </div>
  </div>
</nav>
