.email {
  text-decoration: none;
  outline: none;
}

.title-12 {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  color: $gray-light;
  text-transform: uppercase
}

.sub-title-25 {
  font-size: 25px;
  font-weight: 200;
}

a {
  border: none;
  background: transparent;
  font-size: 12px;
  color: $gray-lighter;

  &:hover,
  &:focus {
    color: $green-fluo;
    outline: none;
    text-decoration: none;
  }
}

a.button-link {
  font-family: $header-font !important;
  @include transition(background-color 150ms ease-out);

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.uppercase {
  text-transform: uppercase;
}

@keyframes pulsed {
  0% {opacity: 0.3;}
  50% {opacity: 0.8;}
  100% {opacity: 0.3;}
}

.pulsed {
  animation-name: pulsed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
