.email {
  text-decoration: none;
  outline: 0;
}

.title-12 {
  font-size: 12px;
  text-transform: uppercase
}

.sub-title-25 {
  font-size: 25px;
  font-weight: 200;
}

a.button-link {
  border: none;
  background: transparent;
  color: $dark;
  font-size: 12px;
  font-family: $header-font !important;
  @include transition(background-color 150ms ease-out);

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
  }

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.uppercase {
  text-transform: uppercase;
}

@keyframes pulsed {
  0% {opacity: 0.3;}
  50% {opacity: 0.8;}
  100% {opacity: 0.3;}
}

.pulsed {
  animation-name: pulsed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
