<% content_for :meta_title %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<!-- HEADER -->
<div id="header" class="text-center">
  <!-- HEADER CONTENT -->
  <div class="title">Ooops !</div>
  J'arrive tout bientôt...
</div>

<!-- PRESENTATION - MAISON DE LA MINERALOGIE -->
<section class="section-presentation" id="presentation">
  <div>
  </div>
</section>



<% content_for :after_js do %>
  <script>

  </script>
<% end %>
